body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title-text {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: "Pacifico", cursive;
}